.hero {
  margin: 120px 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  text-align: center;

  h1 {
    font-size: 48px;
  }

  p {
    width: 50%;
    color: #53565c;
    font-size: 20px;
  }

  form {
    display: flex;
    gap: 16px;
  }
}

@media (max-width: 639px) {
  .hero {
    padding: 100px 0;

    h1 {
      font-size: 35px;
    }

    p {
      width: 100%;
    }

    form {
      flex-direction: column;
      width: 100%;
      align-items: center;

      input {
        width: 100%;
      }
    }
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  .hero p {
    width: 100%;
  }
}
